/*-- scss:defaults --*/

// Headings
$headings-color: #D6000D !default;

// Text colour
$body-color: #4A4A4A !default;
$code-color: #672E6C !default;


// Navbar 
$navbar-bg: #D6000D !default;
$navbar-default-color: #FFFFFF !default;
$navbar-default-link-color:                #FFFFFF !default;
$navbar-default-link-hover-color:          #DDDDDD !default;


// Dropdowns
$dropdown-link-hover-color:     #2F2F2F !default;
$dropdown-link-hover-bg:        #D8D8D8 !default;

// Box Colors
$success:       #00AFAB !default;
$info:          #00A1E1 !default;
$warning:       #D8D8D8 !default;
$danger:        #8F0E20 !default;